Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @eread @jeanduplessis @marcel.amirault @marcia @mjang1 @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @derek-knox @ealcantara @jerasmus
yarn.lock           @derek-knox @ealcantara @jerasmus
jest.config.js      @derek-knox @ealcantara @jerasmus

doc/setup.md: Mention Gitpod at the top and other edits
  doc/setup.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add foreign key pages to database navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Remove global nav item for now redirected unknown sign in page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add new Microsoft Graph Mailer navigation item entry
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Automatically enable new RuboCop cops
  .rubocop.yml
  commands/frontend.rb
  lib/filters/tabs.rb
  lib/helpers/algolia_rank.rb
  lib/helpers/generic.rb
  lib/helpers/versions.rb
  spec/lib/filters/tabs_spec.rb
  spec/lib/helpers/algolia_rank_spec.rb
  spec/spec_helper.rb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add JSON development page to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Change installation links in homepage
  content/index.erb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Fix RuboCop violations on tabs.rb and algolia_rank.rb
  lib/filters/tabs.rb
  lib/helpers/algolia_rank.rb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Detect site version from metatag
  content/frontend/default/components/versions_menu.vue
  layouts/head.html
  lib/helpers/versions.rb
  spec/frontend/default/components/versions_menu_spec.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Revert "Merge branch 'sarahg/version-metatag' into 'main'"
  content/frontend/default/components/versions_menu.vue
  layouts/head.html
  lib/helpers/versions.rb
  spec/frontend/default/components/versions_menu_spec.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Release 15.5
  .gitlab/ci/docker-images.gitlab-ci.yml
  content/versions.json
  latest.Dockerfile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Lorena to google webmasters
  layouts/head.html
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Set site version in metatag
  content/frontend/default/components/versions_menu.vue
  layouts/head.html
  lib/helpers/versions.rb
  spec/frontend/default/components/versions_menu_spec.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add navigation entry for Auto DevOps -> Multiple Kubernetes Clusters
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Review apps 2.0
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  content/assets/stylesheets/stylesheet.scss
  content/frontend/default/environment.js
  scripts/deploy-review-app
  scripts/review-replace-urls
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Revert "Merge branch 'axil-review-apps-fastly-gcp' into 'main'"
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  content/assets/stylesheets/stylesheet.scss
  content/frontend/default/environment.js
  scripts/deploy-review-app
  scripts/review-replace-urls
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Tidy up RuboCop violations in specs
  .rubocop.yml
  spec/lib/filters/tabs_spec.rb
  spec/lib/task_helpers_spec.rb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add troubleshooting page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Re-implement Review Apps 2.0 (with correct environments)
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  content/assets/stylesheets/stylesheet.scss
  content/frontend/default/environment.js
  scripts/deploy-review-app
  scripts/review-replace-urls
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Add troubleshooting page to left navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add REVIEW_SLUG to environment for review apps scripts
  scripts/deploy-review-app
  scripts/review-replace-urls
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Late import `highline` to avoid crash on `rake -T`
  lib/tasks/release.rake
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Define default task in `Rakefile`
  Rakefile
  lib/tasks/build_site.rake
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Use versioned base image for latest.Dockerfile and add test
  .gitlab/ci/docker-images.gitlab-ci.yml
  dockerfiles/nginx.onbuild.Dockerfile
  latest.Dockerfile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Refactor versions menu for use on Archives site
  content/frontend/default/components/versions_menu.vue
  content/frontend/default/environment.js
  spec/frontend/default/components/versions_menu_spec.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Ignore feature flags for `yamllint`
  .gitlab/ci/test.gitlab-ci.yml
  .yamllint
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency @gitlab/ui to v48
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Manually update all Gems to latest versions
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Add customizable dashboards page to the left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Tidy up Style/FetchEnvVar RuboCop violations
  lib/helpers/versions.rb
  lib/tasks/release.rake
  lib/tasks/task_helpers.rb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Use newer base and HTML linting images
  .gitlab-ci.yml
  .gitlab/ci/docker-images.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/security.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  dockerfiles/gitlab-docs-lint-markdown.Dockerfile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove product analytics from left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add cleanup policies to package left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Delete Tracing doc nav item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add contributions calendar to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Set NODE_PATH to allow markdownlint scripts to run global packages
  dockerfiles/gitlab-docs-lint-markdown.Dockerfile
Owners: @axil, @eread, @marcel.amirault
