Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Remove superfluous wildcards in paths
  tasks/unlinked-images.sh
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Minify JavaScript files
  package.json
  rollup.config.js
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix console error from mermaid.js
  content/frontend/default/mermaid.js
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Update dependency @gitlab/eslint-plugin to v14
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Add Debian repository topic to global navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Enable filtering the Deprecations list with URL parameters
  content/frontend/deprecations/components/deprecation_filters.vue
  content/frontend/deprecations/filters.js
  spec/frontend/deprecations/deprecation_filters_spec.js
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Avoid incorrect pattern matching during minification
  scripts/minify-assets.sh
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add View vulnerabilities in a pipeline to global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Geo proxying to sidebar nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Make the versions dropdown dynamic
  content/assets/stylesheets/stylesheet.scss
  content/frontend/default/components/versions_menu.vue
  content/frontend/default/default.js
  content/frontend/default/environment.js
  content/frontend/services/fetch_versions.js
  layouts/cta.html
  layouts/header.html
  layouts/home.html
  package.json
  spec/frontend/default/components/versions_menu_spec.js
  yarn.lock
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @aqualls, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Update release process docs for new Versions menu
  .gitlab/issue_templates/release.md
  Rakefile
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Resolves "H1's are hidden when you access them with an anchor"
  content/assets/stylesheets/_typography.scss
  content/assets/stylesheets/toc.scss
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Add Git abuse rate limit to global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix mermaid styling for git diagrams
  content/assets/stylesheets/stylesheet.scss
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Fix invalid anchor links
  doc/maintenance.md
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Add Harbor to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add release process step for the Versions menu
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Adjust top margin on Search page header
  content/frontend/search/components/search_page.vue
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Automatically push the new stable branch with "bin/rake release:single"
  Rakefile
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update release process steps
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add SAST customize rulesets page to docs nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Adding the page CI mirrored tables to the docs nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Revert "Merge branch 'add-ci-mirrored-tables-page-to-nav' into 'main'"
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Revert "Merge branch 'russell/add-sast-customizing-rulesets-page' into 'main'"
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Release 15.2 of docs site
  content/_data/versions.yaml
  content/versions.json
  latest.Dockerfile
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add 15.0 to versions dropdown
  content/_data/versions.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add GitLab 15 changes page to navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add the Charts release notes in the navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Update navigation.yaml
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add missing Charts advanced configuration pages to navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Removed nav links to deprecated content
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fixed pages that were linked incorrectly
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Re-adding reverted nav items
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add "Parsing GitLab logs with jq" page in navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Clarifying what the values are supposed to be
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add page about widget extensions
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Ensure correct paths for Versions menu links
  content/frontend/default/components/versions_menu.vue
  spec/frontend/default/components/helpers/versions_menu_helper.js
  spec/frontend/default/components/versions_menu_spec.js
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @dianalogan @eread @fneill @jeanduplessis @kpaizee @marcel.amirault @marcia @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @oregand @ealcantara @jerasmus
yarn.lock           @oregand @ealcantara @jerasmus
jest.config.js      @oregand @ealcantara @jerasmus
