Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Do not render Versions menu on Archives page
  content/frontend/default/components/versions_menu.vue
  content/frontend/default/environment.js
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Delete up to 1000 stopped review app environments
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update sidekiq navigation paths to moved locations
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add troubleshooting SSL to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove setting of NODE_PATH environment variable
  dockerfiles/gitlab-docs-lint-markdown.Dockerfile
Owners: @axil, @eread, @marcel.amirault

Clean environment before deploying review app
  scripts/deploy-review-app
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency rspec to '~> 3.12.0'
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Update dependency @gitlab/ui to v49
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Improve how reviews apps redeploy by using rsync
  scripts/deploy-review-app
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update docs redirects 2022-10-31
  content/_data/redirects.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add nav item for security report ingestion
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update title and filename for Geo + containers
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add tutorial topic type to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update gitlab_kramdown to 0.22.0
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Clear RuboCop violations on anchors.rb
  lib/checks/anchors.rb
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Removed merge conflict page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Analyzer development guide to navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove Advanced Search syntax from left navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

No need to set the -C flag in gsutil
  scripts/deploy-review-app
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Git abuse rate limit to global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add new compliance framework topic to navigation
  .yamllint
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  spec/frontend/default/components/helpers/versions_menu_helper.js
  spec/frontend/default/components/versions_menu_spec.js
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Fix compliance frameworks navigation item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add mr_title in gitlab-docs redirects push
  lib/tasks/redirects.rake
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add user rate limits page to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency gitlab-dangerfiles to '~> 3.6.2'
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Adding Navigation for database_migration_pipeline
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Plan tutorial to navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix YAML entry for compliance frameworks nav item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Link to Brewfile and add comments to it
  Brewfile
  doc/advanced_setup.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add a script to report on pages not in the global nav
  Makefile
  doc/raketasks.md
  package.json
  scripts/pages_not_in_nav.js
  yarn.lock
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @oregand, @ealcantara, @jerasmus

Hide survey banner
  content/_data/banner.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add layout and styling for blueprint index page
  Rules
  content/assets/stylesheets/labels.scss
  content/assets/stylesheets/stylesheet.scss
  layouts/blueprints/index.erb
  layouts/blueprints/table.erb
  lib/helpers/blueprints.rb
  lib/helpers_.rb
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Add DORA metrics page to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update names of emoji-related pages
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix stylelint errors
  content/assets/stylesheets/labels.scss
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Update NodeJS dependencies
  package.json
  rollup.config.js
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add full tutorial title to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Build a Docker image with lunr.js enabled
  .gitlab/ci/docker-images.gitlab-ci.yml
  Makefile
  dockerfiles/single.Dockerfile
  scripts/check-lunr-index.sh
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add new build packages to Package Registry navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @dianalogan @eread @fneill @jeanduplessis @kpaizee @marcel.amirault @marcia @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @oregand @ealcantara @jerasmus
yarn.lock           @oregand @ealcantara @jerasmus
jest.config.js      @oregand @ealcantara @jerasmus
