Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @dianalogan @eread @fneill @jeanduplessis @kpaizee @marcel.amirault @msedlakjakubowski @rdickenson @sselhorn @susantacker @sarahgerman

content/assets      @axil @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular @sarahgerman

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin @sarahgerman
Gemfile*            @axil @eread @marcel.amirault @sarahgerman
dockerfiles/*       @axil @eread @marcel.amirault @sarahgerman

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling @sarahgerman

package.json        @oregand @ealcantara @jerasmus @sarahgerman
yarn.lock           @oregand @ealcantara @jerasmus @sarahgerman
jest.config.js      @oregand @ealcantara @jerasmus @sarahgerman

Adds pages for GitLab Shell to development dir
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add Terraform helpers to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault, @sarahgerman

Fix navigation to say Govern instead of Protect
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault, @sarahgerman

Reordering database development items
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update dependency rspec-parameterized to v1
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Add terraform registry to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Updating description to mention the template
  scripts/create_issues.js
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add an expiry to secure template artifacts
  .gitlab/ci/security.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add read-only namespaces to global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add Geo with Single Sign On to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Update dependency instantsearch.css to v8
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Navigation: Update API resources under rest
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add Value Streams Dashboard to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Updates locations of MR concept pages
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Adding Alpha, Beta, LA page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Adds MR performance guidelines to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add OneTrust cookie preferences link
  content/assets/stylesheets/_landing.scss
  content/assets/stylesheets/footer.scss
  content/assets/stylesheets/stylesheet.scss
  content/index.erb
  layouts/footer.html
  layouts/head.html
Owners: @axil, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @sarahgerman, @aqualls, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker

Convert blueprint creation-date to string
  lib/helpers/blueprints.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Set ALGOLIA_SEARCH variable when building the single image
  .gitlab/ci/docker-images.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Check the target branch when pulling upstream projects
  lib/tasks/task_helpers.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Revert "Merge branch 'axil-target-branch-upstream' into 'main'"
  lib/tasks/task_helpers.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Populate deprecation dates from JSON file
  content/frontend/deprecations/deprecations.js
  content/frontend/services/fetch_versions.js
  content/release_dates.json
  layouts/default.html
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Fix VirtualBox nav item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Bump Vale version to latest for Docker images when they are next built
  .gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add new Jira DVCS troubleshooting page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add Apple App Store integration page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add new reference topic to package reg docs
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Fix navigation entry
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Updating MR area to be workflow-based
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Remove supported hash types topic
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Check the target branch when pulling upstream projects
  lib/tasks/build_site.rake
  lib/tasks/task_helpers.rb
  spec/lib/task_helpers_spec.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Update privacy link text
  content/index.erb
  layouts/footer.html
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add indicator to contributor doc pages
  content/assets/javascripts/badges.js
  content/assets/stylesheets/stylesheet.scss
Owners: @axil, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @sarahgerman

Update markdownlint-cli2 dependency and use it for things
  .gitlab-ci.yml
  .gitlab/ci/docker-images.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  Makefile
  doc/development.md
  package.json
  tasks/.markdownlint.yml
  yarn.lock
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @oregand, @ealcantara, @jerasmus

Use new Ruby 2.7.7 linting image
  .gitlab/ci/test.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman
