Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Fix stylelint notice from Mermaid classes
  content/assets/stylesheets/stylesheet.scss
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Small edits to language
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update cache path for gems
  .gitlab/ci/rules.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Refine and consolidate merge request templates for project
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/Frontend.md
  .gitlab/merge_request_templates/Gems Update.md
  .gitlab/merge_request_templates/Navbar_item.md
  .gitlab/merge_request_templates/Release.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Toggle the navbar when changing browser width
  content/assets/stylesheets/stylesheet.scss
  content/frontend/default/components/navigation_toggle.vue
  spec/frontend/__mocks__/match_media_mock.js
  spec/frontend/default/components/navigation_toggle_spec.js
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @aqualls, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add Manage Groups to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Tweaked left nav topic title
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add "Example group SAML and SCIM configurations" page in navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove reference to deleted template
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove deprecated page from navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add docs navigation item for installing release CLI
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add docs navigation item for group releases
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Group access and permissions to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update geo navigation page content and link
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Update dependency @gitlab/eslint-plugin to v15
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Remove duplicate group wiki API entry
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove combined page from left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add unit format reference to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Add secret detection to pipeline
  .gitlab-ci.yml
  .gitlab/ci/security.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Simplify yarn and bundle dependency and cache CI config
  .gitlab/ci/deploy.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/security.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Exclude external link check for support.gitlab.com
  nanoc.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add namespaces to global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Post banner for docs survey
  content/_data/banner.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove duplicate Puma navigation item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Change approach to ordering
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove duplicate Prometheus metrics navigation item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add new maintenance subtype labels to templates
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/Navbar_item.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add QueryRecorder docs to navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add new release-fields page to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Rename Release CLI item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update locations of moved database pages
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix some navigation entries for moved pages
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix alert banner GL classes and index
  content/assets/javascripts/banner.js
  layouts/banner.html
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @aqualls, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Move the architecture details to the docs site
  doc/architecture.md
  doc/index.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Linked resources to docs nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @eread @jeanduplessis @marcel.amirault @marcia @mjang1 @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @derek-knox @ealcantara @jerasmus
yarn.lock           @derek-knox @ealcantara @jerasmus
jest.config.js      @derek-knox @ealcantara @jerasmus
