Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Updating title to be standard
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Add Product analytics API to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Replace mermaid styles with a built-in theme
  content/assets/stylesheets/stylesheet.scss
  content/frontend/default/mermaid.js
  layouts/default.html
  lib/filters/convert_mermaid_html.rb
Owners: @axil, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @sarahgerman, @aqualls, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker

Run global nav link test in review apps
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Adding drawer page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add new project import/export troubleshooting nav item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Set the APPS_DOMAIN variable in .gitlab-ci.yml
  .gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add OpenSSL to Brewfile
  Brewfile
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add Heroku doc to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault, @sarahgerman

Add menu entry for DAST proxy-based analyzer
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Automatically add legal disclaimer to architecture blueprints
  layouts/blueprints/index.erb
  layouts/blueprints/table.erb
  lib/filters/admonition.rb
  lib/helpers/admonition.rb
  lib/helpers_.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Remove front matter from CSS files
  .stylelintrc
  Makefile
  Rules
  content/assets/stylesheets/404.scss
  content/assets/stylesheets/_base.scss
  content/assets/stylesheets/_docsearch.scss
  content/assets/stylesheets/_landing.scss
  content/assets/stylesheets/_mixins.scss
  content/assets/stylesheets/_normalize.scss
  content/assets/stylesheets/_sidebar.scss
  content/assets/stylesheets/_tables.scss
  content/assets/stylesheets/_typography.scss
  content/assets/stylesheets/_utilities.scss
  content/assets/stylesheets/_variables.scss
  content/assets/stylesheets/footer.scss
  content/assets/stylesheets/help.scss
  content/assets/stylesheets/highlight.scss
  content/assets/stylesheets/labels.scss
  content/assets/stylesheets/mixins/_breakpoints.scss
  content/assets/stylesheets/mixins/_md-typography.scss
  content/assets/stylesheets/mixins/_screen-reader.scss
  content/assets/stylesheets/mixins/_spacing.scss
  content/assets/stylesheets/stylesheet.scss
  content/assets/stylesheets/toc.scss
  scripts/run-stylelint.sh
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Remove references to CSS in the bump version docs
  doc/development.md
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add eventmachine error and fix
  doc/setup.md
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Revert "Merge branch 'axil-app-domain-ci-yaml' into 'main'"
  .gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update 404 page copy and styles
  content/404.html
  content/assets/stylesheets/404.scss
  content/assets/stylesheets/stylesheet.scss
  layouts/404.html
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Refactor versions fetching
  content/frontend/default/components/archives_page.vue
  content/frontend/services/fetch_archive_images.js
  content/frontend/services/fetch_versions.js
  spec/frontend/default/components/archives_page_spec.js
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Adding public folder for GitLab Pages
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add GitLab CLI docs link to navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Release 15.6
  content/versions.json
  latest.Dockerfile
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update link of Sidekiq page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Run global nav link test in review apps
  .gitlab/ci/test.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Moved compliance frameworks so it's not first
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Change installation titles to be on par with styleguide
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add "RuboCop rule development guide" navigation entry
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Clean up old Dockerfiles and their references
  .gitlab/ci/docker-images.gitlab-ci.yml
  doc/architecture.md
  doc/releases.md
  dockerfiles/archives.Dockerfile
  dockerfiles/bootstrap.Dockerfile
  dockerfiles/builder.onbuild.Dockerfile
  dockerfiles/gitlab-docs-base.Dockerfile
  dockerfiles/nginx.onbuild.Dockerfile
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Check out the specified branch when testing single images
  .gitlab/ci/docker-images.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Ignore pages with deprecated features in the navigation report
  scripts/pages_not_in_nav.js
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Make it so view doesn't depend on setup
  Makefile
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update docs redirects 2022-11-23
  content/_data/redirects.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Skip compressing the site in review app pipelines for upstream projects
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Remove needs clause from review job
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Rearrange incident management nav entries
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add DAST authentication page to docs navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add terms of service to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add ShellCheck to project
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .tool-versions
  Makefile
  doc/testing.md
  lefthook.yml
  scripts/check-lunr-index.sh
  scripts/compress_images.sh
  scripts/deploy-review-app.sh
  scripts/minify-assets.sh
  scripts/normalize-links.sh
  scripts/review-replace-urls.sh
  tasks/unlinked-images.sh
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @dianalogan @eread @fneill @jeanduplessis @kpaizee @marcel.amirault @msedlakjakubowski @rdickenson @sselhorn @susantacker @sarahgerman

content/assets      @axil @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular @sarahgerman

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin @sarahgerman
Gemfile*            @axil @eread @marcel.amirault @sarahgerman
dockerfiles/*       @axil @eread @marcel.amirault @sarahgerman

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling @sarahgerman

package.json        @oregand @ealcantara @jerasmus @sarahgerman
yarn.lock           @oregand @ealcantara @jerasmus @sarahgerman
jest.config.js      @oregand @ealcantara @jerasmus @sarahgerman
