Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @eread @jeanduplessis @marcel.amirault @marcia @mjang1 @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @derek-knox @ealcantara @jerasmus
yarn.lock           @derek-knox @ealcantara @jerasmus
jest.config.js      @derek-knox @ealcantara @jerasmus

Update dependency gitlab-dangerfiles to '~> 3.6.3'
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Use Ruby 2.7.7 as the default
  .tool-versions
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency @gitlab/ui to v50
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Render blueprint owners as DRIs
  layouts/blueprints/table.erb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Refine Rake tasks menu items
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Removed backticks from glab
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update text in subscription tier badges
  content/assets/javascripts/badges.js
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Add Pages tutorial to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add archives redirect handler to 404 page
  content/404.html
  content/frontend/404/404.js
  content/frontend/404/archives_redirect.js
  content/frontend/404/components/error_message.vue
  content/frontend/services/fetch_versions.js
  spec/frontend/404/components/error_message_spec.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Make .ruby-version file match setting in .tool-versions
  .ruby-version
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Duplicate global nav tests for upstream projects
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove deprecated review apps documentation
  doc/maintenance.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update nanoc to fix compile crashes
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Add yarn to main navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add product analytics to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Refresh Gemfile.lock file and update gitlab_kramdown gem
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Fix rules for global nav test
  .gitlab/ci/rules.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add HTML meta tag for JG
  layouts/head.html
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add step to run make setup to troubleshooting
  doc/setup.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Simplify 404 page
  content/404.html
  layouts/404.html
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Document when to ignore failed pipelines
  doc/troubleshooting.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency @gitlab/ui to v52
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Add SSH signed commits to the nav bar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix minify parameters
  scripts/minify-assets.sh
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency nanoc to '~> 4.12.14'
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Added external users
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Terraform template recipes link to nagivation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Slack incident management doc nav item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add "Adding a new Service Component" to the menu
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Clean up docs redirects - 2022-12-06
  content/_data/redirects.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Set upstream review app test to be manual
  .gitlab/ci/rules.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix how we find blueprints to generate index page for
  lib/helpers/blueprints.rb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add info when a new Ruby version is installed
  doc/setup.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix global nav tests for upstream pipelines
  .gitlab/ci/rules.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove navigation entry for group import/export
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Adding create issues
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix archives redirect
  content/frontend/services/fetch_versions.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add nav for operations dashboard
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus
