Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @dianalogan @eread @fneill @jeanduplessis @kpaizee @marcel.amirault @msedlakjakubowski @rdickenson @sselhorn @susantacker @sarahgerman

content/assets      @axil @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular @sarahgerman

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin @sarahgerman
Gemfile*            @axil @eread @marcel.amirault @sarahgerman
dockerfiles/*       @axil @eread @marcel.amirault @sarahgerman

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling @sarahgerman

package.json        @oregand @ealcantara @jerasmus @sarahgerman
yarn.lock           @oregand @ealcantara @jerasmus @sarahgerman
jest.config.js      @oregand @ealcantara @jerasmus @sarahgerman

Revert "Merge branch 'eread/update-...-image' into 'main'"
  .gitlab/ci/docker-images.gitlab-ci.yml
  latest.Dockerfile
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Removing 14.10 from the "online" list
  content/_data/versions.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add navigation entry for new ViewComponent page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add tests for edit_on_gitlab helper
  Gemfile
  Gemfile.lock
  lib/helpers/edit_on_gitlab.rb
  spec/helpers/edit_on_gitlab_spec.rb
  spec/spec_helper.rb
Owners: @axil, @eread, @marcel.amirault, @sarahgerman, @aqualls, @dianalogan, @fneill, @jeanduplessis, @kpaizee, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Change delete environments job from manual to scheduled
  .gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Refactor edit_on_gitlab helper
  lib/helpers/edit_on_gitlab.rb
  spec/helpers/edit_on_gitlab_spec.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add "type::maintenance" label to redirect merge requests
  Rakefile
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Clean up docs redirects - 2022-06-23
  content/_data/redirects.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Fix Lint/MixedRegexpCaptureTypes RuboCop offense
  lib/filters/badges.rb
  lib/gitlab/docs.rb
  spec/gitlab/navigation_spec.rb
  spec/lib/filters/badges_spec.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Match spec location to implementation location
  spec/lib/gitlab/content_spec.rb
  spec/lib/gitlab/docs/link_spec.rb
  spec/lib/gitlab/docs/page_spec.rb
  spec/lib/gitlab/navigation/category_spec.rb
  spec/lib/gitlab/navigation/doc_spec.rb
  spec/lib/gitlab/navigation/section_spec.rb
  spec/lib/gitlab/navigation_spec.rb
  spec/lib/helpers/edit_on_gitlab_spec.rb
Owners: @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling, @sarahgerman

Update whitespace test
  .gitlab-ci.yml
  tasks/whitespace_task.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add navigation link to metadata API doc
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update filename in the global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Refine docs release template and update release documentation
  .gitlab/issue_templates/release.md
  doc/releases.md
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Remove CDN includes from redirect template
  layouts/redirect.html
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Fix GitlabSecurity/SystemCommandInjection RuboCop offenses
  Rakefile
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update scope for lefthook package
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Add Incident management rate limits to the global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Bundle ClipboardJS with yarn
  content/assets/javascripts/clipboardjs.js
  content/frontend/shared/clipboardjs.js
  content/frontend/shared/sprite_icon.js
  layouts/archives.html
  layouts/default.html
  package.json
  yarn.lock
Owners: @axil, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @sarahgerman, @aqualls, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker

Move tests and scans to separate config files
  .gitlab-ci.yml
  .gitlab/ci/security.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add new items to backup and restore Rake tasks menu
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Bundle mermaid with yarn
  content/assets/javascripts/mermaid.js
  content/frontend/default/mermaid.js
  layouts/default.html
  package.json
  yarn.lock
Owners: @axil, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @sarahgerman, @aqualls, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker

Add Generate test vulnerabilities to the global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Use latest Vue 2.x version
  package.json
  spec/frontend/default/components/__snapshots__/table_of_contents_spec.js.snap
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Small refinements to GitLab developer docs navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add editorconfig configuration
  .editorconfig
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Move deploy jobs and rules to separate config files
  .gitlab-ci.yml
  .gitlab/ci/deploy.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add JSON files to Prettier checks
  package.json
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Add versions.json
  content/versions.json
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Improve SVG icon handling
  commands/frontend.rb
  content/frontend/shared/components/gl_icon.vue
  package.json
  rollup.config.js
  spec/frontend/shared/components/__snapshots__/gl_icon_spec.js.snap
  spec/frontend/shared/components/gl_icon_spec.js
  yarn.lock
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @oregand, @ealcantara, @jerasmus, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Revert "Merge branch 'safari-svgs' into 'main'"
  commands/frontend.rb
  content/frontend/shared/components/gl_icon.vue
  package.json
  rollup.config.js
  spec/frontend/shared/components/__snapshots__/gl_icon_spec.js.snap
  spec/frontend/shared/components/gl_icon_spec.js
  yarn.lock
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @oregand, @ealcantara, @jerasmus, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Added Algolia to list of links not to check
  nanoc.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Move SAML Group Sync navigation item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Raise error if postprocessing fails
  Rules
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Fix duplicate docs publishing
  .gitlab/ci/deploy.gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Improve SVG icon handling
  commands/frontend.rb
  content/frontend/shared/components/gl_icon.vue
  content/frontend/shared/constants.js
  package.json
  rollup.config.js
  spec/frontend/shared/components/__snapshots__/gl_icon_spec.js.snap
  spec/frontend/shared/components/gl_icon_spec.js
  yarn.lock
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @oregand, @ealcantara, @jerasmus, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Update docs redirects 2022-07-07
  content/_data/redirects.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update global nav with new topic link
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman
