Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add Evan Read to list of Google webmasters
  layouts/head.html
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Shorten filename for dependencies page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Navigation: Adding Database Index
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Change the sidebar doc_title to match updated page title
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Remove duplicate install GitLab navigation item
  content/_data/landing.yaml
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Move charts version mappings to prerequisites section
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Split Rake tasks to their own files
  Rakefile
  lib/tasks/build_site.rake
  lib/tasks/redirects.rake
  lib/tasks/release.rake
  lib/tasks/task_helpers.rb
  spec/lib/task_helpers_spec.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Prefix color codes with TaskHelpers
  lib/tasks/build_site.rake
  lib/tasks/redirects.rake
  lib/tasks/release.rake
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Simplify required markup for Tabs
  Rules
  content/frontend/default/default.js
  lib/filters/tabs.rb
  spec/lib/filters/tabs_spec.rb
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Move upgrade, backup, and migrate Charts nav items one level up
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Remove duplicate charts installation tools navigation item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Abort the clone_repositories task if clone fails
  lib/tasks/build_site.rake
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Rename the charts troubleshooting nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault, @sarahgerman

Updated nav for topic type split
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add check for identical duplicate entries in global navigation
  .editorconfig
  .gitlab/ci/test.gitlab-ci.yml
  Makefile
  lefthook.yml
  scripts/check-navigation.sh
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Use named import
  content/frontend/deprecations/filters.js
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update the Docs release template and documentation
  .gitlab/issue_templates/release.md
  doc/releases.md
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add docs navigation item for Sec stage
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Tabs style follow-ups
  content/assets/stylesheets/stylesheet.scss
  content/frontend/default/components/tabs_section.vue
Owners: @axil, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @sarahgerman, @aqualls, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker

Standardizes troubleshooting titles
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add Shimo to left navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add check for index.html to global navigation check script
  .gitlab/ci/test.gitlab-ci.yml
  scripts/check-navigation.sh
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add new GitOps workflow page to the global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Document the token for deleting environments
  doc/maintenance.md
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @sarahgerman

Update dependency gitlab-styles to v8
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault, @sarahgerman

Update navbar to link to new downstream pipelines page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Update vale and markdownlint versions
  .gitlab-ci.yml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Add new Timeline events doc to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Made Helm charts lowercase
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Moved Contribute to docs to the left
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Adding self-managed to SaaS comparisons
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Rename SCIM provisioning to Configure SCIM to match updates to page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Change deployment pipeline window
  doc/architecture.md
  doc/maintenance.md
  doc/releases.md
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Adding Mobile DevOps to CI/CD section in navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Updating mobile devops link
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

Remove docs survey banner
  content/_data/banner.yaml
Owners: @aqualls, @axil, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @rdickenson, @sselhorn, @susantacker, @sarahgerman

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @dianalogan @eread @fneill @jeanduplessis @kpaizee @marcel.amirault @msedlakjakubowski @rdickenson @sselhorn @susantacker @sarahgerman

content/assets      @axil @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular @sarahgerman

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin @sarahgerman
Gemfile*            @axil @eread @marcel.amirault @sarahgerman
dockerfiles/*       @axil @eread @marcel.amirault @sarahgerman

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling @sarahgerman

package.json        @oregand @ealcantara @jerasmus @sarahgerman
yarn.lock           @oregand @ealcantara @jerasmus @sarahgerman
jest.config.js      @oregand @ealcantara @jerasmus @sarahgerman
