Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @eread @jeanduplessis @marcel.amirault @marcia @mjang1 @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @derek-knox @ealcantara @jerasmus
yarn.lock           @derek-knox @ealcantara @jerasmus
jest.config.js      @derek-knox @ealcantara @jerasmus

Update banner for search outage
  content/_data/banner.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Rotate Algolia search public key
  content/frontend/search/search.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add harbor registry topic to left navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove search outage banner
  content/_data/banner.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update docs redirects 2022-09-29
  content/_data/redirects.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Added some missing charts
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update Algolia index name
  content/frontend/search/search.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Move more steps from release doc to issue template
  .gitlab/issue_templates/release.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Updating to Helm chart (lowercase) and cloud-native (hyphen)
  content/index.erb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update rake task, add subtype label
  lib/tasks/redirects.rake
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Added missing deployment options page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add another database page to navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove unused Version-related functions
  layouts/partials/versions_list.html
  lib/helpers/versions.rb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove `setup_git` task
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  dockerfiles/builder.onbuild.Dockerfile
  dockerfiles/single.Dockerfile
  latest.Dockerfile
  lib/tasks/build_site.rake
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update elasticsearch link
  content/_data/popular_topics.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Algolia crawler and index settings configs to docs
  doc/docsearch.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Use newer Gitpod base image. Fixes #1232
  .gitlab/ci/test.gitlab-ci.yml
  .gitpod.Dockerfile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update link for background migrations
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update documentation for adding new products to the docs site
  doc/architecture.md
  doc/development.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Refactor the archives banner to use versions.json and GitLab UI
  content/assets/stylesheets/_variables.scss
  content/assets/stylesheets/stylesheet.scss
  content/frontend/shared/components/docs_banner.vue
  doc/architecture.md
  layouts/default.html
  layouts/header.html
  lib/helpers/versions.rb
  spec/frontend/shared/components/docs_banner_spec.js
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @aqualls, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Move step of single image test to the release MR
  doc/releases.md
  lib/tasks/release.rake
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add `project_root` helper for Rake tasks
  lib/tasks/redirects.rake
  lib/tasks/task_helpers.rb
  spec/lib/task_helpers_spec.rb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add info on previewing the docs using navigation
  doc/setup.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

brew: Install `gnupg` for Mac only to save setup time
  Brewfile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Reword README and fix `doc/` link to GitLab Operator
  README.md
  doc/index.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency nanoc to '~> 4.12.9'
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Update dependency eslint to ^8.25.0
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Add dependency proxy to developer docs
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update favicons
  content/assets/images/android-chrome-192x192.png
  content/assets/images/android-chrome-512x512.png
  content/assets/images/icon-192.png
  content/assets/images/icon-512.png
  content/assets/images/mstile-150x150.png
  content/assets/manifests/browserconfig.xml
  content/assets/manifests/site.webmanifest
  content/favicon.ico
  content/favicon.svg
  doc_logo.png
  layouts/head.html
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @aqualls, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add new user_passwords page to navigation.yaml
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add 15.1 archives redirect
  content/_data/redirects.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Refactor Archives page to use versions.json
  Rules
  content/404.html
  content/_data/versions.yaml
  content/archives/index.html
  content/archives/index.md
  content/frontend/default/components/archives_page.vue
  content/frontend/default/default.js
  content/frontend/services/fetch_archive_images.js
  content/frontend/shared/components/header_permalink.vue
  doc/releases.md
  latest.Dockerfile
  layouts/archives.html
  lib/checks/anchors.rb
  spec/frontend/__mocks__/versions_mock.js
  spec/frontend/default/components/archives_page_spec.js
  spec/frontend/default/components/versions_menu_spec.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Adds package registry migration survey banner
  content/_data/banner.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add navigation entry for Remote Development
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Added navigation link for saml api docs
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove the cloned repository if it already exists
  lib/tasks/build_site.rake
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add SimpleCov for code coverage
  .eslintignore
  .gitignore
  .gitlab/ci/test.gitlab-ci.yml
  .prettierignore
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Notify when removing an existing repository
  lib/tasks/build_site.rake
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker
