Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Making top-level pages consistent
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Updating Plan and track area
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Configure SCIM for self managed instances to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add container registry topics
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove deprecated import-related topics from global navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add GitLab Sans and JetBrains Mono fonts
  Makefile
  Rules
  content/assets/stylesheets/_base.scss
  content/assets/stylesheets/_landing.scss
  content/assets/stylesheets/_normalize.scss
  content/assets/stylesheets/_typography.scss
  content/assets/stylesheets/_variables.scss
  layouts/fonts.html
  layouts/head.html
  package.json
  yarn.lock
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Rename migration-related navigation items
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix Omnibus CTA button height
  layouts/cta_omnibus.html
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix check for current stable version
  Rules
  lib/helpers/versions.rb
  spec/lib/helpers/versions_spec.rb
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

New Secure your application entry
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency gitlab-dangerfiles to '~> 3.6.5'
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Update dependency @gitlab/ui to v53
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Make RSpec test adhere to RuboCop rules
  spec/lib/helpers/versions_spec.rb
Owners: @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add instructions for adding GitLab EE license to docs nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Docs release 15.8
  .gitlab/ci/docker-images.gitlab-ci.yml
  content/versions.json
  latest.Dockerfile
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Redis guidelines to the global navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update navigation.yaml
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update navigation.yaml
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add `List branch rules for project` to global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add frontend diffs guide page to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Adds database required-stop page to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update docs redirects 2023-01-23
  content/_data/redirects.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Improve DAST API entry's title
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Ruby 3.0.5 as a secondary version to the project
  .tool-versions
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add MR rate limit guidelines to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update docs release template
  .gitlab/issue_templates/release.md
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Sort in alphabetical order
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Install webrick gem for Ruby 3.x compatibility
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Resolve more RuboCop violations
  lib/helpers/generic.rb
  lib/helpers/icons_helper.rb
  spec/lib/gitlab/docs/page_spec.rb
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Rename ALGOLIA_SEARCH variable to be more generic
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  .gitlab/ci/docker-images.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  Rules
  commands/frontend.rb
  content/index.erb
  doc/docsearch.md
  dockerfiles/single.Dockerfile
  layouts/default.html
  layouts/head.html
  layouts/header.html
  layouts/home.html
  layouts/search.html
  scripts/check-lunr-index.sh
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix pipelines link in navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add id token auth page to nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add changelog page to left navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add new-database-version doc to the left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Update dependency @gitlab/ui to v54
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Make Ruby 3.0.5 the only ruby for the project
  .gitlab-ci.yml
  .gitpod.Dockerfile
  .ruby-version
  .tool-versions
  dockerfiles/single.Dockerfile
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Use new Ruby 3.0.5-based Docker images
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @dianalogan @eread @fneill @jeanduplessis @kpaizee @marcel.amirault @marcia @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @oregand @ealcantara @jerasmus
yarn.lock           @oregand @ealcantara @jerasmus
jest.config.js      @oregand @ealcantara @jerasmus
