Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add FIPS compliance entry to navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add deprecations to CAS and Crowd global navigation items
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add docs about how to rotate the project tokens
  doc/maintenance.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add documentation navigation item for Release CI/CD examples
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update Sidekiq navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Replace angle-double-right with chevron-double-lg-right
  content/frontend/default/components/navigation_toggle.vue
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add initial troubleshooting doc
  doc/troubleshooting.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add logs correlation ID doc to navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fail Jest tests if warnings or errors are logged to the console
  jest.config.js
  package.json
  spec/frontend/jest.overrides.js
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Update Charts cloud preparation navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove duplicate navigation item for installing GitLab Runner
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency @gitlab/eslint-plugin to v16
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Update location of MR widgets FE guide page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add troubleshooting for Ruby version error
  doc/setup.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Enable reviewer roulette for project
  Dangerfile
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Making link to review app optional
  .gitlab/merge_request_templates/Navbar_item.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Pumble to left navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update template instructions for next doc release writer
  .gitlab/issue_templates/release.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update google_tagmanager.js
  content/assets/javascripts/google_tagmanager.js
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Update gtm.html
  layouts/gtm.html
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Get started with application security page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove duplicate Runner security entry on navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Git object deduplication development page to global navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Added command line options page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix Lint/RedundantStringCoercion RuboCop offense
  Rakefile
  lib/task_helpers.rb
  spec/lib/task_helpers_spec.rb
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Rename deploy CI/CD config file and update docs
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  doc/architecture.md
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Support tabbed content on documentation pages
  content/assets/stylesheets/stylesheet.scss
  content/frontend/default/components/tabs_section.vue
  content/frontend/default/default.js
  content/frontend/shared/dom.js
  spec/frontend/default/components/tabs_section_spec.js
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @aqualls, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Update region codes on gtag analytics
  content/assets/javascripts/gtag_analytics.js
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Remove duplicate charts deployment entries on navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Release 15.3
  content/_data/versions.yaml
  content/versions.json
  latest.Dockerfile
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Lunr.js index script
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  Makefile
  lib/helpers/generic.rb
  package.json
  scripts/lunr/preindex.js
  yarn.lock
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @oregand, @ealcantara, @jerasmus

Add missing Chats items in the navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Charts quickstart to navbar
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Consolidate Algolia configuration
  content/frontend/search/components/search_page.vue
  content/frontend/search/docsearch.js
  content/frontend/search/instantsearch.js
  content/frontend/search/search.js
  spec/frontend/search/search_spec.js
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Add leading slash to Topics URL
  content/_data/popular_topics.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @oregand, @ealcantara, @jerasmus

Update dependency pry-byebug to ~> 3.10.0
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Add missing "CI/CD secure files" navbar item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update left nav order under Documentation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @dianalogan, @eread, @fneill, @jeanduplessis, @kpaizee, @marcel.amirault, @marcia, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @dianalogan @eread @fneill @jeanduplessis @kpaizee @marcel.amirault @marcia @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @oregand @ealcantara @jerasmus
yarn.lock           @oregand @ealcantara @jerasmus
jest.config.js      @oregand @ealcantara @jerasmus
