Repository juliamrch/gitlab-docs, changes with the owners that CODEOWNERS names for each.
All owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @caalberts, @godfat-gitlab, @markglenfletcher, @rymai, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

CODEOWNERS:

## See https://about.gitlab.com/handbook/engineering/projects/#gitlab-docs

*                   @aqualls @axil @cnorris @eread @jeanduplessis @marcel.amirault @marcia @mjang1 @msedlakjakubowski @ngaskill @rdickenson @sselhorn @susantacker

content/assets      @axil @marcia @derek-knox @ealcantara @jerasmus @oregand @dmishunov @iamphill @nicolasdular

/bin/*              @caalberts @godfat-gitlab @markglenfletcher @rymai @cwoolley-gitlab @vyaklushin
Gemfile*            @axil @eread @marcel.amirault
dockerfiles/*       @axil @eread @marcel.amirault

spec                @cwoolley-gitlab @vyaklushin @doregan @mikegreiling

package.json        @derek-knox @ealcantara @jerasmus
yarn.lock           @derek-knox @ealcantara @jerasmus
jest.config.js      @derek-knox @ealcantara @jerasmus

Update navbar for new background migrations page
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Make the review job dependent from the compile_dev job
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Include browser-based troubleshooting on navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add a breaking changes filter to the deprecations list
  content/assets/stylesheets/_variables.scss
  content/assets/stylesheets/stylesheet.scss
  content/frontend/deprecations/components/deprecation_filters.vue
  content/frontend/deprecations/filters.js
  spec/frontend/deprecations/deprecation_filters_spec.js
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @aqualls, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker, @cwoolley-gitlab, @vyaklushin, @doregan, @mikegreiling

Update docs release steps
  .gitlab/issue_templates/release.md
  doc/releases.md
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Container Registry Troubleshooting topic to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Always run upstream_test_global_nav_links
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add CI/CD variables to the left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add nav for postgresql multiple databases config
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Suggest running make setup when compile fails
  Makefile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove the upstream global nav test
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add new Package Reference page to global nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Bump Ruby and Vale version in CI variables
  .gitlab-ci.yml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Set Ruby and Alpine as variables in single.Dockerfile
  .gitlab/ci/docker-images.gitlab-ci.yml
  dockerfiles/single.Dockerfile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Install latest RubyGems when running make setup
  Makefile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Conditionally run Algolia search in review apps
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  content/frontend/default/environment.js
  content/frontend/search/search.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Revert "Merge branch 'sarahg/algolia-review-apps' into 'main'"
  .gitlab/ci/build-and-deploy.gitlab-ci.yml
  content/frontend/default/environment.js
  content/frontend/search/search.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Bring back the base Docker image
  .gitlab/ci/docker-images.gitlab-ci.yml
  dockerfiles/gitlab-docs-base.Dockerfile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Re-implement algolia option for dev MRs
  .gitlab/ci/rules.gitlab-ci.yml
  content/frontend/default/environment.js
  content/frontend/search/search.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add gradle to navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Remove importing from SVN page from global navigation
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Manage incidents nav item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Bump shellcheck from 0.8.0 to 0.9.0
  .gitlab/ci/test.gitlab-ci.yml
  .tool-versions
  scripts/deploy-review-app.sh
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add a script for creating hackathon issues
  package.json
  scripts/create_issues.js
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus, @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update dependency gitlab-dangerfiles to '~> 3.6.4'
  Gemfile
  Gemfile.lock
Owners: @axil, @eread, @marcel.amirault

Update NodeJS dependencies
  package.json
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus

Update NodeJS dependencies
  package.json
  rollup.config.js
  yarn.lock
Owners: @derek-knox, @ealcantara, @jerasmus, @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Use relative URLs for Algolia results
  content/frontend/search/components/search_page.vue
  content/frontend/search/docsearch.js
  content/frontend/search/search.js
  scripts/review-replace-urls.sh
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add "ongoing" blueprint label
  content/assets/stylesheets/labels.scss
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular

Make it possible to define multiple coaches for a blueprint
  layouts/blueprints/table.erb
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add query parameter to tabs
  content/frontend/default/components/tabs_section.vue
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Update hackathon issue text
  scripts/create_issues.js
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Web IDE Beta to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Fix links on blueprint tables
  content/assets/stylesheets/_tables.scss
  layouts/blueprints/table.erb
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular, @aqualls, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add OKRs nav item
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add Database Dictionary page to left nav
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Put Alpine and Ruby versions back in single.Dockerfile
  dockerfiles/single.Dockerfile
Owners: @axil, @eread, @marcel.amirault

Release 15.7
  .gitlab/ci/docker-images.gitlab-ci.yml
  content/versions.json
  latest.Dockerfile
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add to nav the new merge request diffs dev guide
  content/_data/navigation.yaml
Owners: @aqualls, @axil, @cnorris, @eread, @jeanduplessis, @marcel.amirault, @marcia, @mjang1, @msedlakjakubowski, @ngaskill, @rdickenson, @sselhorn, @susantacker

Add OneTrust country ID datalyaer event
  content/assets/javascripts/gtag_analytics.js
Owners: @axil, @marcia, @derek-knox, @ealcantara, @jerasmus, @oregand, @dmishunov, @iamphill, @nicolasdular
